/* Variables */
:root {
  --primary: ;
  --secondary: ;
  --accent: ;
  --light: #fff;
  --dark: #151515;
  --text-dark: #333;

  --serif: 'PT Serif', serif;
  --sans-serif: 'Work Sans', sans-serif;
  --navigation: 'Montserrat', sans-serif;
}

/*=========================================
General Styles
=========================================*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,p,h1,h2,ul,span,h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: var(--text-dark);
  line-height: 1.4;
  font-family: var(--sans-serif);
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.wrapper-wide {
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--dark);
}

/*=========================================
Loading Animation
=========================================*/


/*=========================================
Header Styles 
=========================================*/

.header {
  min-height: 100vh;
  background: lavender;
}

/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
} */

.navigation {
  background: var(--dark);
  padding: 25px 0px;
  position: fixed;
  right: 0;
  left: 0;
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  color: var(--light);
}

.navigation__list a {
  padding: 20px 0 20px 20px;
  letter-spacing: 2px;

  color: var(--light);
  font-family: var(--navigation);
  font-size: clamp(1rem, .8vw, 1.2rem);
  text-transform: uppercase;
}
/*=========================================
About Section
=========================================*/
.about {
  min-height: 50vh;
}


/*=========================================
Skills Section
=========================================*/

/*=========================================
Portfolio Section
=========================================*/

/*=========================================
Contact Section
=========================================*/

/*=========================================
Footer Styles
=========================================*/