/* Variables */
:root {
  --white: #fff;
  --black: #000;
  --light: #F0F5FA;
  --dark: #0F1F2E;
  --primary: ;
  --secondary: #D1E0F0;
  --accent: #FF7433;

  --sans-serif: 'Work Sans', sans-serif;
  --heading: 'Montserrat', sans-serif;
}

/*=========================================
General Styles
=========================================*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,p,h1,h2,ul,span,h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: var(--dark);
  background: var(--light);
  line-height: 1.4;
  font-family: var(--sans-serif);
  font-size: 1.6rem; /*fallback*/
  font-size: clamp(1.5rem, 1.3vw, 1.8rem);
}

h1, h2, h3, h4 {
  font-family: var(--heading);
}

.wrapper-wide {
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 120px 0px;
}

.section__heading {
  margin-bottom: 70px; 
  margin-bottom: clamp(40px, 5.5vw, 75px); 
  font-size: 4rem; /*fallback*/
  font-size: clamp(2.5rem, 3vw, 5rem);
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--dark);
  transition: all .4s ease-out;
}

a:hover,
a:focus {
  color: var(--accent);
}

.btn {
  border: 1px solid var(--accent);
  padding: 15px 30px;
  font-family: var(--heading);
  font-size: 1.6rem;
  background: transparent;
  transition: all .4s ease-out;
}

.btn:hover, 
.btn:focus {
  background: var(--accent);
  color: var(--light);
}

.btn__span {
  margin-right: 10px;
}

/*=========================================
Loading Animation
=========================================*/


/*=========================================
Header Styles 
=========================================*/


.header {
  position: relative;
  min-height: 100vh;
  background: url(../assets/moon.jpg) no-repeat fixed center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: .3;
}

/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
} */

.navigation {
  transition: all .5s;
  z-index: 99;
  padding: 25px 0px;
  position: fixed;
  right: 0;
  left: 0;
}

.navigation__bars {
  display: none;
  color: var(--light);
  font-size: 4rem;
}

.nav__scroll {
  background: var(--white);
  box-shadow: 5px 3px 10px rgba(0, 0, 0, .2);
}

.nav__scroll.navigation a,
.nav__scroll .navigation__bars {
  color: var(--dark);
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  color: var(--light);
}

.navigation__list a {
  padding: 10px 10px 10px 10px;
  letter-spacing: 2px;
  color: var(--light);
  font-family: var(--heading);
  font-size: clamp(1rem, .8vw, 1.2rem);
  text-transform: uppercase;
  transition: border-bottom .2s;
}

.navigation__list a:hover {
  color: var(--accent);
}

.navigation__active {
  border-bottom: 1px solid var(--accent);
  border-top: 1px solid (--accent);
}

.header__heading-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main-heading {
  border-right: 3px solid var(--dark);
  color: var(--light);
  font-size: 7rem; /*fallback*/
  font-size: clamp(5rem, 4.4vw, 7rem);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;

  animation: animated-main-heading 1s steps(29,end) 1s 1 normal both,
    animated-cursor-stop 600ms steps(29,end) forwards;
}

.header__sub-heading {
    border-right: 3px solid var(--dark);
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    animation: animated-sub-heading 1.25s  steps(29,end) 2.5s 1 normal both,
      animated-cursor-stop 600ms steps(29,end) 2.5s infinite;
}

@keyframes animated-main-heading{
  from{width: 0;}
  to{width: 100%;}
}

@keyframes animated-sub-heading{
  from{width: 0;}
  to{width: 100%;}
}

@keyframes animated-cursor-stop{
  from{border-right-color: var(--dark);}
  to{border-right-color: transparent;}
}

.scroll-down {
  position: absolute;
  bottom: 0;
  color: var(--light);
  font-size: 5rem;
}

/*=========================================
About Section
=========================================*/
.about {
  min-height: 50vh;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__img-container {
  width: 45%;
}

.about__text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__heading {
  text-align: left;
  margin-bottom: 25px; /*fallback*/
  margin-bottom: clamp(10px, 1.2vw, 25px); 
  
}

.section__text {
  margin-bottom: 20px;
  margin-bottom: clamp(8px, 1.1vw, 20px);
}

.btn-container {
  margin-top: 30px;
}


/*=========================================
Skills Section
=========================================*/
.skills {
  padding: 80px 0px;
  background: url(../assets/skill-space2.jpg)no-repeat fixed center/cover;
}

.skills__container {
  padding: 50px 0px;
  background: var(--secondary);
  box-shadow: 5px 3px 10px rgba(0, 0, 0, .1),
              -5px -3px 10pc rgba(0, 0, 0, .1);
}

.skills__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.3% - 40px);
  font-size: clamp(6rem, 10vw, 10rem);
  margin: 20px;
}



.skills__text {
  font-size: 1.6rem;
  text-align: center;
}

/*=========================================
Portfolio Section
=========================================*/

.projects__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--dark);
}

.projects img {
  width: 40%;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, .25);
              
}

.projects__text {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.projects__text--right {
  text-align: right;
}


/*=========================================
Contact Section
=========================================*/

.contact {
  background: var(--white);
}

.contact__container {
  display: flex;
  justify-content: space-between;
}

.contact__text {
  width: 30%;
}

.contact__sub-heading {
  margin-bottom: clamp(15px, 1.8vw, 25px)
}

fieldset {
  border: none;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

input,
textarea {
  font-family: var(--sans-serif);
  border: 1px solid var(--dark);
  margin-bottom: 20px;
  resize: none;
}

.socials {
  display: flex;
  margin-top: 10px;
}
.socials a {
  margin-right: 20px;
  color: var(--dark);
  font-size: 3rem;
  transition: all .4s ease-out;
}

.socials a:hover,
.socials a:focus {
  color: var(--accent);
}

/*=========================================
Footer Styles
=========================================*/

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background: var(--dark);
}

.footer__text {
  color: var(--white);
  font-size: clamp(1.4rem, 1.1vw, 1.6rem);
  text-align: center;
}

.footer__link {
  color: var(--white);
}

/*=========================================
Media Queries 
=========================================*/
@media(max-width: 1025px) {
  .wrapper {
    width: 95%;
  }

  .about__text-container {
    justify-content: start;
  }
}

@media(max-width: 769px) {

  .about__container {
    flex-direction: column;
    align-items: center;
  } 

  .about__img-container {
    width: 75%;
    margin-bottom: 25px
  }

  .about__text-container {
    width: 75%;
  }

  .projects__container {
    flex-direction: column;
    align-items: center;
  }

  .projects__container--reverse {
    flex-direction: column-reverse;
  }

  .projects img {
    width: 100%;
    margin-bottom: 25px;
  }

  .projects__text {
    width: 100%;
  }

  .projects__text--right {
    text-align: left;
  }

  .contact__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact__text {
    width: 95%;
  }

  fieldset {
    width: 95%;
    padding: 0;
    margin-bottom: 25px
  }
}

@media(max-width: 481px) {

  /* .wrapper {
    width: 100%;
  } */

  .header {
    position: relative;
  }

  .navigation {
    padding: 0;
  }

  .navigation__bars {
    display: block;
  }

  .navigation__list {
    position: absolute;
    display: block;
    width: 100%;
    left: -500px;
    transition: all .4s ease-out;
  }

  .nav__scroll .navigation__list {
    background: var(--white);
  }

  .navigation__link {
    padding-bottom: 20px;
  }

  .navigation__show {
    left: 0;
  }

  .about__img-container,
  .about__text-container {
    width: 100%;
  }

  .socials {
    justify-content: center;
  }
}